<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/admin_details.css">
</head>
<body>
    
    <div class="buttons">
        <button><a href="/admin/admin_details">Admin</a></button>
        <button><a href="/book/add_book">Add Book</a></button>
        <button><a href="/book/book_details">Book Details</a></button>
        <button><a href="/book/book_record">Book Record</a></button>
        <button><a href="/issue/issue_book">Issue Book</a></button>
        <button><a href="/issue/issue_book_record">Issue Report</a></button>
        <button><a href="/admin/sign-out">Logout</a></button>

    </div>
    <div class="box">
        <h1>Admin Details</h1>
        <!--<img src="<%= '/Images/profile.png' %>" alt="profile image">-->
       
        
            <% for(let i = 0; i < admin.length; i++) { %>
               <div class="small-div">
                <p><%= admin[i].name %></p>
                <img src="<%= '/Images/profile.png' %>" alt="profile image">
               </div>
            <% } %>
        
    </div>
</body>
</html>
