<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
 
    <main>
        <div class="login">
            <div class="student-login">
            <form action="/admin/create-session" method="POST">
                <h2>Admin login</h2>
                <input type="text" name="name" id="name" placeholder="Enter name">
                <input type="email" name="email" id="email" placeholder="Enter your email">
                <input type="password" name="password" id="password" placeholder="Enter password">
                
                <button type="submit">Login</button>
                <button type="submit" id="signup"><a href="/admin/signup">Signup</a></button>
            </form>
            </div>
           
        </div>
    </main>
</body>
</html>