<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/admin_signup.css">
</head>
<body>
   
    <main>
        <div class="signup">
            
            <div class="admin-signup">
                <form action="/admin/create" method="POST">
                    <h2>Admin Signup</h2>
                    <input type="text" name="name" placeholder="Your Name" required>
                    <input type="email" name="email" placeholder="Your Email" required>
                    <input type="password" name="password" placeholder="Password" required>
                    <input type="password" name="confirm_password" placeholder="Confirm Password" required>
                    <input type="submit" value="Sign Up">
                    <button id="login"><a href="/admin/login">Login</a></button>
                </form>
            </div>
        </div>
    </main>
</body>
</html>