body{
  background-image: url(../Images/R\ \(1\).jfif);
 /*overflow-y: hidden;*/
}


.box {
  border: 2px solid;
  background-color: white;
  position: relative;
  top: -95vh;
  width: 50%;
  left: 30%;
  height:auto  b;
}
h1{
  text-align: center;
}
img {
  
position: relative;
  
top: -3vh;
  
width: 8%;
  
height: 6vh;
  
left: 9%;
}
p {
  position: relative;
  left: 24%;
  top: 1vh;
  font-size: 3vh;
}
.small-div {
  border: 2px solid;
  height: 7vh;
  margin: 1%;
  background-color: antiquewhite;
}
*{
  margin: 0%;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

nav{
  /* position: absolute; */
  position: relative;
  top: 0;
  bottom: 0;
  height: 100vh;
  left: 0;
  width: 90px;
  overflow: hidden;
  transition:width 0.2s linear;
  background: white;
  box-shadow: 0 20px 35px rgba(0,0,0,0.1);
  z-index: 999;
}

.logo{
  position: relative;
  left: 14%;
  display: flex;
  transition: all 0.5s ease;
  
}
a{
  position: relative;
  color:red;
  font-size: 14px;
  display: table;
  width: 300px;
  padding: 10px;
  
}
.fa-solid{
  position: relative;
  width: 70px;
  height: 40px;
  top: 14px;
  font-size: 20px;
  text-align: center;
}
.nav-item {
  position: relative;
  top: -6vh;
  margin-left: 17vh;
  white-space: nowrap;
  
}
nav:hover{
width: 250px;
transition: all 0.5s ease;
}
