body{
    background-image: url(../Images/R\ \(1\).jfif);
   /*overflow-y: hidden;*/
}
.buttons{
    display: flex;
    flex-direction: column;
    width: 22%;
    position: relative;
    top: -1vh;
    /*background-color: indigo;*/
    /*background-image: linear-gradient(115deg,#691369,#0a0a81);
    background: radial-gradient(255,255,255,0.2);*/
    /* background: rgb(69 39 160); */
    height: 101vh;
    border-radius: 5px;
    background: linear-gradient(45deg, black, transparent);
    left: -1%;
}
button{
    margin:2vh;
    border-radius: 20px;
    height: 7vh;
    border: none;
}
.box {
    border: 2px solid;
    background-color: white;
    position: relative;
    top: -84vh;
    width: 50%;
    left: 30%;
    height:auto  b;
}
h1{
    text-align: center;
}
img {
    
    position: relative;
    top: 2vh;
    width: 20%;
    height: 17vh;
    left: 9%;
}
p {
    position: relative;
    left: 39%;
    top: -2vh;
}