* {
    margin: 0;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-image: url(../Images/R\ \(1\).jfif);
}
input{
    border: 2px solid black;
}
.buttons {
    display: flex;
    flex-direction: column;
    width: 22%;
    position: relative;
    top: -1vh;
    height: 101vh;
    border-radius: 5px;
    background: linear-gradient(45deg, black, transparent);
    left: -1%;
}

button {
    margin: 2vh;
    border-radius: 20px;
    height: 7vh;
    border: none;
}

form button {
    margin: 2vh;
    border-radius: 20px;
    height: 6vh;
    position: relative;
    width: 27%;
    background-color: black;
    top: 3vh;
    color: white;
}

form {
    border: 2px solid;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 2%;
    height: 85vh;
    width: 49%;
    position: relative;
    top: -99vh;
    left: 30%;
    background-color: white;
    border-radius: 28px;
}

label {
    margin: 3vh;
    width: 56%;
    position: relative;
    top: 3vh;
}

h2 {
    top: -97vh;
    left: 47%;
}

*{
    margin: 0%;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
  }
  
  nav{
    /* position: absolute; */
    position: relative;
    top: 0;
    bottom: 0;
    height: 100vh;
    left: 0;
    width: 90px;
    overflow: hidden;
    transition:width 0.2s linear;
    background: white;
    box-shadow: 0 20px 35px rgba(0,0,0,0.1);
  }
  
  .logo{
    position: relative;
    left: 14%;
    display: flex;
    transition: all 0.5s ease;
    
  }
  a{
    position: relative;
    color:red;
    font-size: 14px;
    display: table;
    width: 300px;
    padding: 10px;
    cursor: pointer;
  }
  .fa-solid{
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
  }
  .nav-item {
    position: relative;
    top: -4vh;
    margin-left: 17vh;
    white-space: nowrap;
}
  
  nav:hover{
  width: 250px;
  transition: all 0.5s ease;
  }